#app {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.app-container {
  height: inherit;
  transition: transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  width: inherit;
}

.app-bg-dimmer,
.app-bg-img,
.app-content {
  position: absolute;
}

.nav-toggler {
  background: white;
  border: none;
  color: white;
  cursor: pointer;
  height: 64px;
  top: 44px;
  left: 50%;
  padding: 0;
  position: absolute;
  transition: background 0.1s linear;
  transform: translateX(-50%);
  width: 64px;
}

.nav-toggler:hover {
  background: black;
}

.nav-toggler:hover > svg > path {
  fill: white;
}

.nav-toggler svg {
  fill: black;
  height: 56px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: fill 0.1s linear;
  width: 56px;
}

.nav-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  width: inherit;
}

.nav-opened {
  padding-top: 72px;
  height: 40%;
}

.app-nav {
  justify-content: space-evenly !important;
  width: inherit;
}

.app-nav a {
  color: black;
  font-size: 36px;
  font-weight: 800;
  margin: 5px 0;
  text-decoration: none;
}

.app-bg {
  height: inherit;
  width: inherit;
}

.app-bg-dimmer {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  border: 10px solid white;
  height: inherit;
  transition: border-width 0.2s ease-in-out;
  user-select: none;
  width: inherit;
}

.app-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  filter: blur(5px) saturate(75%);
  transition: background 0.2s ease-in-out;
  width: inherit;
}

.app-content {
  justify-content: space-evenly !important;
  padding-top: 64px;
  width: inherit;
}

.content-info {
  color: white;
}

.content-info h1 {
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .content-info h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 576px) {
  .content-info h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .content-info h1 {
    font-size: 56px;
  }
}

@media only screen and (min-width: 992px) {
  .content-info h1 {
    font-size: 72px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-info h1 {
    font-size: 96px;
  }
}

.content-info p {
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .content-info p,
  .app-nav a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .content-info p,
  .app-nav a {
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .content-info p,
  .app-nav a {
    font-size: 32px;
  }
}

@media only screen and (min-width: 992px) {
  .content-info p,
  .app-nav a {
    font-size: 36px;
  }
}

.content-media img {
  border: 1px solid white;
  box-shadow: 5px 5px 15px 4px;
  height: inherit;
  width: inherit;
}

@media only screen and (max-width: 576px) {
  .content-media img {
    height: 256px;
    width: 256px;
  }
}

@media only screen and (min-width: 576px) {
  .content-media img {
    height: 384px;
    width: 384px;
  }
}

@media only screen and (min-width: 768px) {
  .content-media img {
    height: 512px;
    width: 512px;
  }
}

/* UTILITY CLASSES */
.flex-col-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .flex-row-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* RESET */
button {
  outline: none !important;
}
