html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: inherit;
  min-height: 480px;
  overflow-x: hidden;
  position: relative;
  width: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  min-height: 384px;
  position: absolute;
  transition: transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  width: inherit;
}

.app-bg-dimmer,
.app-bg-img {
  position: absolute;
}

.nav-toggler {
  background: white;
  border: none;
  color: white;
  cursor: pointer;
  height: 64px;
  top: 44px;
  left: 50%;
  padding: 0;
  position: absolute;
  transition: background 0.1s linear;
  transform: translateX(-50%);
  width: 64px;
  z-index: 9999;
}

.nav-toggler:hover {
  background: black;
}

.nav-toggler:hover>svg>path {
  fill: white;
}

.nav-toggler svg {
  fill: black;
  height: 56px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: fill 0.1s linear;
  width: 56px;
}

.nav-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 0;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  width: inherit;
}

.nav-opened {
  height: 50%;
}

@media only screen and (max-width: 1200px) {
  .nav-opened {
    height: 50%;
  }
}

.app-nav {
  justify-content: space-evenly !important;
  margin: auto;
  width: inherit;
}

@media only screen and (min-width: 576px) {
  .app-nav {
    flex-direction: row !important;
  }
}

.app-nav a {
  color: black;
  font-size: 36px;
  font-weight: 800;
  margin: 5px 0;
  text-decoration: none;
}

.app-bg {
  height: inherit;
  position: absolute;
  width: inherit;
}

.app-bg-dimmer {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  height: inherit;
  user-select: none;
  width: inherit;
}

.app-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  filter: blur(5px) saturate(75%);
  /* hides bad edges from blurring by making it a little smaller */
  transform: scaleY(0.98);
  transition: background 0.2s ease-in-out;
  width: inherit;
}

.app-spacer {
  min-height: 156px;
  width: inherit;
}

@media only screen and (max-width: 576px) {
  .app-spacer {
    min-height: 128px;
  }
}

.app-content {
  justify-content: space-evenly !important;
  margin: auto 0;
  padding: 0 24px;
  width: inherit;
  transition: transform 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  .app-content {
    min-height: 512px;
  }
}

.content-info {
  color: white;
}

.content-info h1 {
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .content-info h1 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 576px) {
  .content-info h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .content-info h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 992px) {
  .content-info h1 {
    font-size: 64px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-info h1 {
    font-size: 72px;
  }
}

.content-info p {
  max-height: 256px;
  max-width: 784px;
  margin: 25px 0;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .content-info p,
  .app-nav a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 576px) {
  .content-info p,
  .app-nav a {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .content-info p,
  .app-nav a {
    font-size: 32px;
  }
}

@media only screen and (min-width: 992px) {
  .content-info p,
  .app-nav a {
    font-size: 36px;
  }
}

.content-media img {
  border: 1px solid white;
  box-shadow: 5px 5px 15px 4px;
  min-height: 128px;
  min-width: 128px;
  height: 25vw;
  width: 30vw;
}

@media only screen and (max-height: 384px), (max-width: 256px) {
  .content-media img {
    display: none;
  }
}

.app-frame {
  border: 10px solid white;
  height: 100%;
  position: absolute;
  transition: border-width 0.2s ease-in-out;
  width: 100%;
  z-index: 2;
}

@media only screen and (max-height: 384px) {
  .app-frame {
    display: none;
  }
}

/* UTILITY CLASSES */

.flex-col-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .flex-row-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* RESET */

button {
  outline: none !important;
}
